/* Основные цвета */
:root {
    --main-green: #2ecc71; /* Зеленый */
    --main-teal: #1abc9c; /* Голубой */
    --main-background: #ecf0f1; /* Светлый фон */
    --main-text-color: #34495e; /* Темный текст */
}

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: var(--main-background);
    color: var(--main-text-color);
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

/* Заголовки */
h1 {
    color: var(--main-green);
    text-align: center;
}

/* Поля ввода и кнопки */
input[type="text"] {
    border: 1px solid var(--main-teal);
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 15px;
    background-color: white; /* Белый фон для полей ввода */
    color: var(--main-text-color); /* Темный текст */
}

/* Кнопки */
button {
    background-color: var(--main-teal);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Отступ между кнопками */
}

button:hover {
    background-color: var(--main-green);
}

/* Кнопка переключения темы */
#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--main-text-color);
    transition: color 0.3s;
}

#theme-toggle:hover {
    color: var(--main-green); /* Измените цвет при наведении для визуального эффекта */
}

/* Чат окно */
#chat-container {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: none; /* Скрыто по умолчанию */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#chat-window {
    height: 80%;
    overflow-y: auto;
    margin-bottom: 10px;
}

/* Стиль для кнопки открытия/закрытия чата */
#chat-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Темная тема */
[data-theme="dark"] {
    --main-green: #27ae60; /* Зеленый */
    --main-teal: #16a085; /* Голубой */
    --main-background: #2c3e50; /* Темный фон */
    --main-text-color: #ecf0f1; /* Светлый текст */
}

[data-theme="dark"] input[type="text"] {
    background-color: #34495e; /* Темный фон для полей ввода */
    color: var(--main-text-color); /* Светлый текст */
}

[data-theme="dark"] #chat-window {
    background-color: #34495e; /* Темный фон для окна чата */
    color: var(--main-text-color); /* Светлый текст для чата */
}
