<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="main-content">
        <h1>Add your website design here</h1>
        <p>Only feature here for now is the chat box</p>
    </div>

    <div id="chat-window">
        <textarea id="chat-text-input" placeholder="Type your message here..."></textarea>
        <button id="record-audio-button"></button>
        <button id="send-message-button"></button>
        <!-- Your chat content here -->
    </div>

    <!-- Toggle button -->
    <button id="chat-toggle-button">💬</button>

    <script src = 'static/js/main.js'></script>
    <script src = 'static/js/resizing.js'></script>
</body>
</html>